mixin accordion(items, className, useActive)
    - className= className || ''
    - useActive = useActive || false
    .accordion__wrapper(class=className)
        each item,i in items
            - active = i && useActive === 0 ? 'active' : ''
            .accordion-item(class=active)
                if (item.titleInfo)
                    .accordion-item__title
                        +popover(item.titleInfo)
                        = item.title
                else
                    .accordion-item__title!= item.title

                .accordion-item__content!= item.content
