mixin headline(size, text, className, animationName)
    - className= className || ''
    - animationName= animationName || ''

    case size
        when 2: h2(class=className data-animation=animationName)= text
        when 1: h1(class=className data-animation=animationName)= text
        when 3: h3(class=className data-animation=animationName)= text
        when 4: h4(class=className data-animation=animationName)= text
        when 5: h5(class=className data-animation=animationName)= text
        when 6: h6(class=className data-animation=animationName)= text



