mixin navigation(items, logoUrl)
    .nav-wrapper
        nav
            .nav-controls
                .logo
                    a(href='#top')
                        img(src=logoUrl)
                .hamburger
                    div
            ul.navigation
                .navLine
                each item,i in items
                    - const link = '<a class="navigation-item animation fade-in-right in" href="'+ item.link +'" data-target="'+ item.link.replace('#', '') +'"><span data-hover="'+ item.title + '">';
                    li!= link + item.title + '</span></a>'