.about {
  &__wrapper {
    margin-top: 35px;
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-auto-rows: 1fr;
    }
    @include responsive(large) {
      margin-top: 75px;
      grid-template-columns: 0.75fr 1fr 1fr;
      column-gap: 45px;
    }
  }

  &__content {
    &--left,
    &--center,
    &--right {
      margin: 20px 0;
      @include responsive(large) {
        margin: 0;
      }
    }
    &--center {
      p {
        @include font-size(16);
        @include line-height(21);
        letter-spacing: 0.94px;
      }
    }
    &--right {
      background-color: $red;
      padding: 45px 25px 45px;
      color: #fff;
      @include font-size(16);
      @include line-height(21);
      a {
        transition: all 300ms ease;
        color: #fff;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    &--left {
      img {
        max-width: 100%;
      }
      @include responsive(small-mobile) {
        img {
          max-width: none;
        }
      }
    }
  }
  &__logo {
    height: 50px;
    margin-bottom: 15px;
  }
  &__title {
    @include font-size(22);
    @include line-height(25);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__line {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 25px 0;
  }
}
