.accordion__wrapper {
  display: flex;
  flex-direction: column;
}
.accordion-item {
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #d5d2d2;
  margin-bottom: 20px;
  &.active {
    .accordion-item__content {
      max-height: 100%;
      opacity: 1;
      pointer-events: all;
      transform: translate3d(0, 0, 0);
      padding: 25px;
    }
    .accordion-item__title {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &__title {
    @include font-size(18);
    letter-spacing: 1.13px;
    @include line-height(20);
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 5px);
      right: 25px;
      width: 15px;
      height: 9px;
      background-image: url('../img/caret.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: transform 250ms ease;
    }
  }
  &__content {
    overflow: hidden;
    transform: translate3d(0, -30px, 0);
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: transform 200ms ease-out, opacity 200ms ease-in;
    p {
      @include font-size(16);
      @include line-height(17);
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    tr {
      border-bottom: 2px solid #d5d2d2;
      &:last-of-type {
        border: 0;
        td {
          padding-bottom: 0;
        }
      }
      &:first-of-type {
        border-bottom: 2px solid #d5d2d2;
      }
    }
    td,
    th {
      padding: 20px 0;
      @include font-size(16);
      @include line-height(17);
      letter-spacing: 1px;
      max-width: 100%;
      text-align: center;
      @include responsive(mobile) {
        text-align: left;
      }
      @include responsive(large) {
        max-width: 300px;
      }
    }
    th {
      padding: 0 0 20px;
    }
  }
}
