.actions {
  &__list {
    list-style: none;
    @include responsive(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 15px;
    }
  }
  &__item {
    position: relative;
    padding-left: 25px;
    @include font-size(16);
    @include line-height(21);
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      background-image: url('../img/list-indicator.svg');
      background-position: center left;
      background-size: 7px;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
    }
  }
}
