.contact {
  color: #333;
  margin-top: 40px;
  &__wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
  &__logo {
    height: 35px;
    @include responsive(large) {
      height: 50px;
    }
  }
  &__localization {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    img {
      height: 0;
      @include responsive(large) {
        display: block;
        height: 100%;
      }
    }
  }
  &__line {
    height: 5px;
    background-color: #333;
    width: 100%;
    margin-top: 35px;
    @include responsive(mobile) {
      width: calc(100% - 20px);
    }
    @include responsive(extra-large) {
      width: 100%;
      max-width: 500px;
    }
  }
  .separator-container {
    margin: 0 20px;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    margin: 0 20px;
    @include responsive(wide) {
      margin: 0 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    .left {
      color: #333;
      .address {
        margin-top: 35px;
        color: #333;
        margin-bottom: 30px;
        @include font-size(15);
        font-weight: bold;
        @include line-height(17);
        a {
          color: #333;
          text-decoration: none;
        }
      }
      .separator {
        margin-top: 0;
      }
    }
    .right {
      background-color: #f7f7f7;

      .page-wrapper {
        margin: 0;
      }
      @include responsive(large) {
        margin-left: 150px;
        margin-right: 0;
      }
      .separator {
        margin-top: 0;
      }
    }
  }
  &-form {
    transition: all 300ms ease;
    pointer-events: all;
    position: relative;
    &:before {
      content: '';
      top: calc(50% - 95px);
      left: calc(50% - 25px);
      border: 4px solid #f3f3f3;
      animation: spin 1s linear infinite;
      border-top: 4px solid red;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 99;
      transform: scale(2);
      opacity: 0;
      transition: all 300ms ease;
    }
    &.loading {
      opacity: 0.5;
      pointer-events: none;
      &:before {
        transform: scale(1);
        opacity: 1;
      }
    }
    label {
      display: none;
    }
    &-group {
      position: relative;
      .floating-label {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 18px;
        transition: all 300ms ease;
        transform: translate3d(0, 0, 0);
        @include font-size(13);
        color: #d1d1d1;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  &-input {
    padding: 10px 15px 10px 0;
    border: 0;
    border-bottom: 3px solid #d1d1d1;
    margin-bottom: 23px;
    height: 40px;
    font-size: 18px;
    min-width: 100%;
    transition: all 300ms ease;
    border-radius: 0;
    background-color: #f7f7f7;
    @include responsive(large) {
      min-width: calc(100% - 40px);
    }
    &.textarea {
      height: auto;
      min-height: 150px;
      resize: none;
    }

    &:focus,
    &:not(:focus):valid {
      outline: none;
      border: 0;
      border-bottom: 3px solid #333333;
      ~ .floating-label {
        transform: translate3d(-5px, -26px, 0);
        color: #333333;
        font-size: 12px;
        opacity: 1;
        left: 5px;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 6px;
          width: 100%;
          z-index: -1;
        }
      }
    }

    &.submit {
      border: none;
      max-width: 150px;
      min-width: 150px;
      max-height: 40px;
      text-align: center;
      padding-left: 0;
      color: #fff;
      background-color: #333333;
      border: 1px solid #4c4c4c;
      transition: all 300ms ease;
      margin-bottom: 60px;
      cursor: pointer;
      box-sizing: content-box;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0;
      border-radius: 5px;
      padding: 3px 0;
      &:hover {
        opacity: 1;
        color: #fff;
        background-color: #707070;
      }
    }

    &.invalid {
      outline: none;
      border: none;
      border-bottom: 3px solid $validation-red !important;
      height: 38px;
      &.textarea {
        min-height: 248px;
      }
      ~ .floating-label {
        transform: translate3d(-5px, -26px, 0);
        background-color: #f7f7f7;
        color: $validation-red !important;
        font-size: 13px;
        opacity: 1;
        text-transform: uppercase;
        font-weight: bold;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          background: #fafafa;
          left: 0;
          height: 6px;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }
  &__map {
    min-height: 370px;
    width: 100%;
    height: 100%;
    @include responsive(mobile) {
      margin-right: 20px;
    }
    @include responsive(large) {
      height: 100%;
      min-width: 250px;
    }
  }
  #map,
  #map * {
    overflow: visible;
  }
  img {
    max-width: initial !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
