.documents {
  &-paragraph {
    @include font-size(16);
    @include line-height(21);
    letter-spacing: 1px;
    margin-bottom: 25px;
  }
  &-btn {
    width: 212px;
    height: 48px;
    font-style: italic;
    font-weight: bold;
    @include font-size(17);
    @include line-height(19);
    letter-spacing: -0.79px;
    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px;
    background-color: $red;
    border: 1px solid #8f2f3e;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease;
    &:hover {
      opacity: 0.7;
      transform: translate3d(5px, 0, 0);
    }
  }
}
