footer {
  background-color: #333;
  border-bottom: 3px solid #b74153;
  color: #fff;
  padding: 25px 0;
  a {
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease;
    &:hover {
      opacity: 0.6;
    }
  }
  ul {
    list-style: none;
  }
  .footer__copyrights {
    margin-bottom: 30px;
    @include font-size(16);
    font-weight: bold;
    @include responsive(tablet) {
      margin-bottom: 0;
      font-size: inherit;
      font-weight: normal;
    }
  }
  .page-wrapper,
  ul {
    display: flex;
    flex-direction: column;
    @include responsive(tablet) {
      flex-direction: row;
    }
    li {
      @include responsive(tablet) {
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .page-wrapper {
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    @include responsive(tablet) {
      flex-direction: row;
      text-align: left;
    }
  }
}
