header {
  .page-wrapper {
    position: relative;
    z-index: 1;
  }
  .header-content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    height: 350px;
    padding-top: 50px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/background.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(1);
      z-index: 0;
    }
    @include responsive(large) {
      height: 500px;
      padding-top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $red;
      opacity: 0.2;
      z-index: 0;
    }
    &__overflow {
      overflow: hidden;
      @include responsive(large) {
        padding: 0 0 45px;
        width: 1200px;
      }
    }
    &__block {
      background-color: rgba(#333, 0.8);
      color: #fff;
      border-top: 3px solid $red;
      align-items: center;
      justify-content: center;
      display: flex;
      position: relative;
      padding: 30px 40px;
      &:before,
      &:after {
        display: none;
      }
      @include responsive(large) {
        width: 480px;
        height: 75px;
        padding: 35px 0 0;
        padding-top: 35px;
        &:before,
        &:after {
          display: block;
        }
      }
      &:before {
        content: '';
        width: 100%;
        height: 45px;
        position: absolute;
        top: 100%;
        right: 45px;
        background-color: rgba(#333, 0.8);
      }
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        border-style: solid;
        margin-left: -45px;
        border: 22.5px solid rgba(#282828, 0.8);
        border-right: 22.5px solid transparent;
        border-bottom: 22.5px solid transparent;
      }
    }
    &__list {
      list-style: none;
      text-transform: uppercase;
      text-align: left;
      flex-direction: column;
    }
    &__item {
      @include font-size(20);
      @include line-height(22);
      letter-spacing: -0.49px;
      font-weight: bold;
    }
  }
}
