.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 50px;
  @include responsive(large) {
    height: 100px;
  }
  left: 0;
  top: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(#ccc, 0.5);
  z-index: 99;
  animation: textShow 200ms, slideIn 300ms;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: transform 500ms ease;
  background-color: #f7f7f7;
  background: #f7f7f7;
  z-index: 999;
  @include responsive(large) {
    width: 1080px;
    margin: 0 auto;
    header {
      padding-top: 50px;
    }
  }
  @include responsive(tablet) {
    flex-direction: row;
    position: static;
  }
}
header {
  padding-top: 50px;
  @include responsive(large) {
    padding-top: 100px;
  }
}

.hamburger {
  display: block;
  margin: 1em;
  width: 35px;
  position: relative;
  z-index: 2;
  margin-right: 20px;

  &:after,
  &:before,
  div {
    background-color: #333;
    content: '';
    display: block;
    height: 4px;
    margin: 6px 0;
    transition: all 0.2s ease-in-out;
  }
  &.open {
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &:after {
      transform: translateY(-10px) rotate(-135deg);
    }
    div {
      transform: scale(0);
    }
  }
  @include responsive(large) {
    display: none;
  }
}

.nav-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  @include responsive(large) {
    width: auto;
  }
}

.navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  opacity: 0;
  transform: translate3d(0, -150px, 0);
  transition: all 300ms ease;
  position: absolute;
  padding: 20px 0 30px;
  z-index: 99;
  height: -webkit-fill-available;
  min-height: 400px;
  background-color: #f7f7f7;
  pointer-events: none;
  overflow: hidden;
  padding-left: 60px;

  ~ .languages {
    display: none;
    @include responsive(large) {
      display: flex;
    }
  }

  @include responsive(large) {
    justify-content: center;
    margin-top: 0;
    padding-left: 0;
  }

  li {
    width: 100%;
    text-align: right;
    padding-right: 80px;
    @include responsive(large) {
      padding-right: 0;
      width: auto;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    @include font-size(36);
    @include line-height(54);
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 4px;
    height: auto;
    transition: all 300ms ease;
    letter-spacing: -0.79px;

    @include responsive(large) {
      @include font-size(18);
      @include line-height(24);
    }
    &.active {
      @include responsive(large) {
        color: $red;
      }
    }

    &:hover {
      opacity: 0.7;
    }

    @include responsive(large) {
      margin: 0;
      span {
        transition: transform 0.3s;
        position: relative;
        display: inline-block;

        &:before {
          position: absolute;
          top: 100%;
          content: attr(data-hover);
          transform: translate3d(0, 0, 0);
        }
      }
      &:hover {
        span {
          transform: translateY(-105%);
          opacity: 0.7;
        }
      }
    }

    @include responsive(large) {
      height: 1.2em;
    }
  }

  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }

  @include responsive(large) {
    opacity: 1;
    transform: none;
    flex-direction: row;
    justify-content: space-around;
    transition: none;
    position: relative;
    width: calc(100% - 200px);
    padding: 0;
    background-color: transparent;
    height: auto;
    pointer-events: all;
    min-height: auto;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(large) {
    min-height: 100px;
    margin-right: 200px;
  }
  img {
    width: auto;
    height: 30px;
    transition: all 300ms ease;
    position: relative;
    z-index: 2;
    margin-left: 20px;
    @include responsive(tablet) {
      height: 50px;
    }
    @include responsive(large) {
      margin-left: 0;
    }
    &:hover {
      opacity: 0.7;
      transform: translate3d(0, 5px, 0);
    }
  }
}

.navLine {
  display: none;
  overflow: hidden;
  @include responsive(large) {
    transition: transform 300ms ease;
    display: block;
    width: calc(100% / 5);
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $pink;
    transform: translate3d(-100%, 0, 0);
  }
  &.one {
    transform: translate3d(8%, 0, 0);
  }
  &.two {
    transform: translate3d(123%, 0, 0);
  }
  &.three {
    transform: translate3d(233%, 0, 0);
  }
  &.four {
    transform: translate3d(328%, 0, 0);
  }
  &.five {
    transform: translate3d(420%, 0, 0);
  }
}

@keyframes slideIn {
  from {
    transform: translate3d(-50px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
