.popover {
  &-wrapper {
    height: 20px;
    width: 20px;
    padding-right: 15px;
    &.active {
      .popover-content {
        transition: transform 300ms ease, opacity 250ms ease-in;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        height: auto;
        pointer-events: all;
      }
    }
  }
  &-icon {
    width: 20px;
    height: 20px;
    background-image: url('../img/info.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &-content {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
    pointer-events: none;
    height: 0;
    @include font-size(12);
    @include line-height(14);
    letter-spacing: -0.29px;
    background-color: #e2e2e2;
    border: 1px solid #d2d2d2;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 20px;
    width: 350px;
    z-index: 99;
    text-transform: none;
    font-weight: normal;
    color: #9d9d9d;
    &:before {
      content: '';
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      position: absolute;
      top: -7.5px;
      left: 35px;
      background-color: #e2e2e2;
      border-left: 1px solid #d2d2d2;
      border-top: 1px solid #d2d2d2;
      z-index: -1;
    }
  }
}
