.has-animation{
  position: relative;
  width: 100%;
  > * {
    opacity: 0 !important;
  }

  &.animate-in {
    > * {
      animation: textShow 1.1s 1s forwards;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 10;
    }
    &:before {
      background-color: $light-green;
    }
    &:after {
      background-color: $pink;
      animation-delay: .5s;
    }
  }

  &.animation.animate-in {
    &:before {
      animation: reveal 1.5s ease;
    }
    &:after {
      animation: reveal 0.8s .6s ease;
    }
  }
}

.animation {
  &.clip-text{
    opacity: 0;
    &.in {
      animation: clip-text cubic-bezier(0.785, 0.135, 0.15, 0.86) 500ms forwards;
    }
    @for $i from 1 through 10 {
      &:nth-child(#{$i}n + 1) {
        animation-delay: #{$i * 0.3}s;
      }
    }
  }
  &.fade-in-right{
    &.in{
      animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 500ms forwards;
    }
  }

  &.grow-left{
    transform: scaleX(0);
    transform-origin: left;
    &.in{
      animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 500ms forwards;
    }
  }
}


@keyframes reveal {
  0%{
    width: 0;
    left: 0;
  }
  65%{
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}




@keyframes textShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-45px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


@keyframes clip-text {
  from {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
  }
}
