body,
html {
  overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;

  &:before {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease;
    @include responsive(large) {
      display: none;
    }
  }

  &.overlay {
    overflow: hidden;
    z-index: 1;
    &:before {
      opacity: 1;
    }
    @include responsive(large) {
      overflow-x: hidden;
      overflow-y: scroll;
      position: static;
    }
  }
}

body,
html,
* {
  margin: 0;
  padding: 0;
  text-align: justify;
}

body,
html {
  overflow-x: hidden;
}
.relative {
  position: relative;
  z-index: 0;
}

section {
  &.grey {
    background-color: $grey;
  }
}

.page-wrapper {
  max-width: 1080px;
  position: relative;
  z-index: 0;
  margin: 0 20px;
  @include responsive(large) {
    margin: 0 auto;
  }
  @include responsive(extra-large) {
    max-width: 1200px;
  }
}
.hidden {
  display: none;
}
::selection {
  background: $red;
  color: #fff;
}
:-moz-selection {
  background: $red;
  color: #fff;
}
a {
  transition: all 300ms ease;
  &:hover {
    opacity: 0.6;
  }
}

section {
  &:focus {
    outline: none;
  }
}
.gradient-box {
  position: absolute;
  background-image: linear-gradient(180deg, #d4d4d4 0%, #f7f7f7 100%);
  top: -75px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  &.revert {
    transform: rotate(180deg);
    bottom: 0;
    top: 0;
    height: 100%;
  }
}
