@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin hex2rgba($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

/* REM font sizes
============================================= */

@mixin font-size($sizeValue) {
  font-size: $sizeValue / $basic-font-size + rem;
}

@mixin line-height($sizeValue) {
  line-height: $sizeValue / $basic-font-size + rem;
}

/* Responsive
Modification by jwojtach
============================================= */

@mixin responsive($breakpoint, $dpi: '') {
  $query: map-get($breakpoints, $breakpoint);
  @if not $query {
    @error "No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
  }
  @if $dpi== '2' {
    @media screen and#{if(type-of($query) == "string", unquote($query), inspect($query))} and(-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  } @else {
    @media screen and#{if(type-of($query) == "string", unquote($query), inspect($query))} {
      @content;
    }
  }
}

/* IE11
@by Jakub Wojtach
============================================= */

@mixin IEFix {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
  @media screen and (min-width: 0\0) {
    @content;
  }
}
