$basic-font-size: 16;

// Colors

$green: #294342;
$light-green: #1f3130;
$pink: #f29e93;
$light-pink: #ffa8ac;
$dark-blue: #2f7fff;
$light-blue: #4b91ff;
$grey: #fafafa;
$validation-red: #c92b2b;
$red: #b74153;

// RWD Breakpoints
$breakpoints: (
  'small-mobile': (
    min-width: 375px,
  ),
  'mobile': (
    min-width: 576px,
  ),
  'tablet': (
    min-width: 768px,
  ),
  'wide': (
    min-width: 991px,
  ),
  'large': (
    min-width: 1080px,
  ),
  'extra-large': (
    min-width: 1200px,
  ),
) !default;
