include ../Mixins/mixins.pug

+navigation([
    {
        title: 'o kancelarii',
        link: '#about',
    },
    {
        title: 'czynności',
        link: '#actions',
    },
    {
        title: 'dokumenty',
        link: '#documents',
    },
    {
        title: 'cennik',
        link: '#pricing',
    },
    {
        title: 'Kontakt',
        link: '#contact',
    }], 'img/logo.svg')
