doctype html
html(lang='pl')
    head
        include ../Modules/head.pug
    body
        include ../Modules/body.pug
        script.
            (function(){var WebP=new Image();WebP.onload=WebP.onerror=function(){
            if(WebP.height!=2){var sc=document.createElement('script');sc.type='text/javascript';sc.async=true;
            var s=document.getElementsByTagName('script')[0];sc.src='webpjs-0.0.2.min.js';s.parentNode.insertBefore(sc,s);}};
            WebP.src='data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA';})();
        script(src="bundle.js")
        script.
            const coords = {lat: 52.235170, lng: 21.053890};
            function initMap() {
                const map = new google.maps.Map(document.getElementById('map'), {
                    center: coords,
                    zoom: 15,
                    disableDefaultUI: true,
                });
                const marker = new google.maps.Marker({
                    position: coords,
                    map,
                    title: 'Beata Waszkiewicz'
                });
                setTimeout(() => {
                    console.log("attempting refresh");
                    google.maps.event.trigger(map, 'resize');
                    map.setZoom(15);
                },
                100);
            }
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMfFoRfawFKxTksBbdnCcKVcxdHwROlGc&callback=initMap" async defer)
        script(src="https://smtpjs.com/v3/smtp.js" async defer)


