section#about.relative(data-scroll-offset=-80)
    .gradient-box
    .page-wrapper
        .about__wrapper
            .about__content--left
                img(src='./img/notariusz.webp', alt="Beata Waszkiewicz")
            .about__content--center
                img.about__logo(src='./img/logo.svg', alt="Beata Waszkiewicz")
                p
                    | <strong>Kancelaria Notarialna Beata Waszkiewicz</strong> mieści się w Warszawie, dzielnicy Praga Południe, na Saskiej Kępie, przy ulicy Francuskiej nr 30 róg ulicy Walecznych. Kancelaria usytuowana jest na pierwszym piętrze budynku. <strong>Przed</strong> kancelarią znajduje się przystanek autobusowy – Francuska - na którym zatrzymują się autobusy linii <strong>117, 138 i 146</strong>. Na terenie <strong>Saskiej Kępy</strong> jest obszar darmowego parkowania.
                    | <br /><br />
                    | <strong>Notariusz Beata Waszkiewicz</strong> – z notariatem związana od 2002 roku, jest absolwentką Wydziału Prawa i Administracji Uniwersytetu Warszawskiego. Nominację na notariusza otrzymała 13 października 2009 roku. Odbyła aplikację notarialną w Warszawskiej Izbie Notarialnej i zanim rozpoczęła prowadzenie Kancelarii Notarialnej pracowała w charakterze asesora notarialnego.

            .about__content--right
                p.about__title
                    | kontakt
                p.about__text
                    | ul. Francuska 30 lok. 6
                p.about__text
                    | 03-905 Warszawa
                <br />
                p.about__text
                    | tel.&nbsp;
                    a(href="tel:226130879")
                        |22 613 08 79
                p.about__text
                    | tel. kom.&nbsp;
                    a(href="tel:692422178")
                        |+48 692 422 178
                <br />
                p.about__text
                    | e-mail:&nbsp;
                    a(href="mailto:waszkiewicz@notariusze.waw.pl")
                        | waszkiewicz@notariusze.waw.pl
                .about__line
                p.about__title
                    | godziny urzędowania
                p.about__text
                    | Poniedziałek - Piątek <strong>9:00 - 17:00</strong>
                <br />
                p.about__text
                    | Istnieje możliwość umówienia się w innych godzinach, również w innym miejscu, gdy przemawiają za tym charakter czynności lub <strong>szczególne okoliczności</strong>.

