include ../Mixins/mixins.pug
section#actions(data-scroll-offset=-100)
    +separator('czynności')
    .page-wrapper
        ul.actions__list
            li.actions__item
                | umowy sprzedaży działek, lokali oraz spółdzielczych praw własnościowych praw do lokali
            li.actions__item
                | protokoły spółek, zebrań wspólnot mieszkaniowych, ze stron internetowych,  protokoły przebiegu czynności, protokoły niedojścia czynności
            li.actions__item
                | umowy darowizny działek, lokali oraz spółdzielczych własnościowych praw do lokali
            li.actions__item
                | pełnomocnictwa
            li.actions__item
                | akty poświadczenia dziedziczenia
            li.actions__item
                | poświadczenia dokumentów
            li.actions__item
                | sporządzenia wypisów, odpisów i wyciągów z dokumentów
            li.actions__item
                | poświadczenia daty okazania dokumentów
            li.actions__item
                | umowy majątkowe małżeńskie
            li.actions__item
                | umowy podziałów majątku wspólnego małżonków
            li.actions__item
                | umowy spółek, statuty
            li.actions__item
                | oświadczenia o ustanowieniu fundacji
            li.actions__item
                | poświadczenia własnoręczności podpisu na okazanych dokumentach oraz wzory podpisów
            li.actions__item
                | oświadczenia o poddania egzekucji, w tym z umów dzierżawy i umów najmu okazjonalnego
            li.actions__item
                | ustanowienia hipotek
            li.actions__item
                | ustanowienia służebności, w tym służebności przesyłu oraz użytkowania
            li.actions__item
                | umowy działów spadków, zniesienia współwłasności nieruchomości
            li.actions__item
                | umowy ustanawiania odrębnej własności lokali, umowy deweloperskie
            li.actions__item
                | umowy zamiany
            li.actions__item
                | umowy o dożywocie
            li.actions__item
                | protokoły przyjęcia oświadczeń o odrzuceniu spadków
            li.actions__item
                | przyjęcia na przechowanie dokumentów, pieniędzy i papierów wartościowych