section#contact.contact(data-scroll-offset=-120)
    .contact__wrapper
        .content
            .left
                +separator('dane kontaktowe')
                .address
                    p.address-line
                    | ul. Francuska 30 l. 6
                    br
                    | 03-905 Warszawa
                    br
                    br

                    p.address-line
                        | tel:&nbsp;
                        a(href='tel:226130879')
                            | 22 613 08 79
                    p.address-line
                        | tel kom:&nbsp;
                        a(href='tel:692422178')
                            | 692422178
                    br
                    p.address-line
                        | email:&nbsp;
                        a(href='mailto:waszkiewicz@notariusze.waw.pl')
                            | waszkiewicz@notariusze.waw.pl
                    .contact__line
                    .contact__localization
                        img(src="./img/umbrellas.webp", alt="Parasolki Francuska")
                        .contact__map#map
            .right
                +separator('kontakt')
                form.contact-form#contact-form
                    .contact-form-group
                        input.contact-input(type='text' name='nameSurname' id='nameSurname' required='required')
                        label(for='nameSurname')="Imię i Nazwisko"
                        span.floating-label="Imię i Nazwisko"
                    .contact-form-group
                        input.contact-input(type='text' id='email' name='email' required='required')
                        label(for='email')="Adres e-mail"
                        span.floating-label="Adres e-mail"
                    .contact-form-group
                        textarea.contact-input.textarea(rows='5' id='message' name='message' required='required' maxlength='200')
                        label(for='message')="Treść wiadomości"
                        span.floating-label="Treść wiadomości"
                    input.contact-input.submit(type='submit' value='Wyślij')
