include ../Mixins/mixins.pug
section#documents(data-scroll-offset=-120)
    +separator('dokumenty')
    .page-wrapper
        p.documents-paragraph
            | Ponieważ każda sprawa jest bardzo indywidualna, zakres dokumentów niezbędnych do poszczególnych czynności również nie jest tożsamy. W celu uzyskania informacji o niezbędnych dokumentach konieczny jest <strong>bezpośredni kontakt</strong> z Kancelarią.
        a.documents-btn(href='#contact' data-scroll-offset=-120)
            | kontakt
