footer
    .page-wrapper
        p.footer__copyrights
            = '© 2019 '
            a(href="http://waszkiewicz-notariusz.pl")
                = 'waszkiewicz-notariusz.pl'
        ul.footer__nav
            li.footer__navItem
                a(href='#about')
                    = 'O Kancelarii'
            li.footer__navItem
                a(href='#actions')
                    = 'Czynności'
            li.footer__navItem
                a(href='#documents')
                    = 'Dokumenty'
            li.footer__navItem
                a(href='#pricing')
                    = 'Cennik'
            li.footer__navItem
                a(href='#contact')
                    = 'Kontakt'