header#top
    .page-wrapper
        include ../Components/nav.pug
    .header-content
        .page-wrapper
            .header-content__overflow
                .header-content__block
                    ul.header-content__list
                        li.header-content__item
                            | nieruchomości
                        li.header-content__item
                            | spółki
                        li.header-content__item
                            | postępowania spadkowe
