meta(charset='utf-8')
meta(name='format-detection' content='telephone=no')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description' content='Kancelaria notarialna położona w centrum saskiej kępy, przy ulicy Francuskiej 30 lok. 6 w Warszawie. Tel 22 613 08 79')
meta(name='keywords' content='notariusz warszawa, kancelaria notarialna warszawa, Saska Kępa, Praga Południe, Beata Waszkiewicz, porady, akty notarialne')
meta(name='author' content='Jakub Wojtach')
meta(name='copyright' content='Beata Waszkiewicz')
meta(name='robots' content='follow')
meta(property='og:title' content='Beata Waszkiewicz, notariusz, Saska Kępa, Praga Południe, Warszawa')
meta(property='og:description' content='Kancelaria notarialna położona w centrum saskiej kępy, przy ulicy Francuskiej 30 lok. 6 w Warszawie. Tel 22 613 08 79')
meta(property='og:url' content='/')
meta(property='og:site_name' content='Beata Waszkiewicz, notariusz, Saska Kępa, Praga Południe, Warszawa')

link(rel='canonical' href='/')
link(rel='stylesheet' href='css/main.min.css')
link(rel='shortcut icon' type='image/x-icon' href='./favicon.ico')
title Beata Waszkiewicz, notariusz, Saska Kępa, Praga Południe, Warszawa