include ../Mixins/mixins.pug
section#pricing.relative(data-scroll-offset=-100)
    .gradient-box.revert
    +separator('cennik')
    .page-wrapper
        p.pricing__text
            | Na opłatę uiszczaną u Notariusza składa się kilka elementów: taksa notarialna, podatki (podatek od czynności cywilnoprawnych, podatek od spadków i darowizn, podatek VAT), opłaty sądowe.
            | <br />
            | Opłaty uiszczane są gotówką, przelewem przed podpisaniem umowy a także kartą płatniczą, za wyjątkiem opłat sądowych i podatku od czynności cywilnoprawnych i podatku od spadków i darowizn.
        .pricing__accordion
            +accordion([
                {
                    title: 'TAKSA ZA AKTY NOTARIALNE',
                    content:'<table><thead><tr><th>WARTOŚĆ PRZEDMIOTU</th><th>TAKSA</th></tr></thead><tbody> <tr> <td> do <strong>3 tys.</strong> zł </td><td> <strong>100</strong> zł </td></tr><tr> <td> ponad <strong>3 tys.</strong> zł <br/> do <strong>10 tys.</strong> zł </td><td> <strong>100</strong> zł + <strong>3%</strong> nadwyżki powyżej <strong>3 tys.</strong> zł </td></tr><tr> <td> ponad <strong>10 tys.</strong> zł <br/> do <strong>30 tys.</strong> zł </td><td> <strong>310</strong> zł + <strong>2%</strong> nadwyżki powyżej <strong>10 tys.</strong> zł </td></tr><tr> <td> ponad <strong>30 tys.</strong> zł <br/> do <strong>60 tys.</strong> zł </td><td> <strong>710</strong> zł + <strong>1%</strong> nadwyżki powyżej <strong>30 tys.</strong> zł </td></tr><tr> <td> ponad <strong>60 tys.</strong> zł <br/> do <strong>1 mln.</strong> zł </td><td> <strong>1010</strong> zł + <strong>0.4%</strong> nadwyżki powyżej <strong>60 tys.</strong> zł </td></tr><tr> <td> ponad <strong>1 mln.</strong> zł <br/> do <strong>2 mln.</strong> zł </td><td> <strong>4770</strong> zł + <strong>0.2%</strong> nadwyżki powyżej <strong>1 mln.</strong> zł </td></tr><tr> <td> ponad <strong>2 mln.</strong> zł </td><td> <strong>6770</strong> zł + <strong>0.25%</strong> nadwyżki powyżej <strong>2 mln.</strong> zł (nie więcej niż <strong>10 tys.</strong> zł) </td></tr></tbody> </table>',
                    titleInfo: 'Wysokość taksy notarialnej reguluje rozporządzenie Ministra Sprawiedliwości, przy czym najłatwiejszym sposobem poznania wysokości pobieranej taksy od danej czynności i jej wartości, jest kontakt telefoniczny z Kancelarią, w której jej pracownicy bezpłatnie mogą wyliczyć całkowite przewidywane koszty transakcji',
                },
                {
                    title: 'PODATKI',
                    content: '<p>Notariusz jest płatnikiem podatku od czynności cywilnoprawnych lub podatku od spadków i darowizn. Notariusz pobiera podatek przy dokonywaniu czynności notarialnej. Podstawę obliczania poszczególnych podatków stanowią: a) ustawa z dnia 9 września 2000 r. o podatku od czynności cywilnoprawnych (PCC) oraz b) ustawa z dnia 28 lipca 1983 r. o podatku od spadków i darowizn (PSiD).</p>'
                },
                {
                    title: 'PCC',
                    content: '<p>Najczęściej stosowaną stawką pcc jest stawka 2% wartości rynkowej przedmiotu, którego czynność notarialna dotyczy. Stawkę tę stosujemy przy umowach sprzedaży, umowach zamiany, umowach dożywocia, umowach o dział spadku, umowach o zniesienie współwłasności oraz umowach darowizny, których przedmiotem są nieruchomości, prawo użytkowania wieczystego gruntu, spółdzielcze prawo do lokalu mieszkalnego. Stawkę 0,5% stosujemy przy zawiązaniu spółki kapitałowej lub spółki osobowej albo przy podwyższeniu wartości wkłady do spółki. Kwotę stałą w wysokości 19 zł Notariusz pobiera przy ustanowieniu hipoteki na zabezpieczenie wierzytelności o wysokości nieustalonej.</p>'
                },
                {
                    title: 'PSiD',
                    content: '<p>Wysokość tego podatku uzależniona jest od tego do której grupy podatkowej należą strony dokonywanej czynności notarialnej oraz od wartości rynkowej nabywanych rzeczy i praw majątkowych. W praktyce notarialnej często jednak stosuje się zwolnienie z podatku od spadków i darowizn na podstawie art. 4a ustawy o tym podatku – zwolnione z podatku jest nabycie przez małżonka, zstępnych, wstępnych, pasierba, rodzeństwo, ojczyma i macochę.</p>'
                },
                {
                    title: 'OPŁATA SĄDOWA',
                    content: '<p>Notariusz pobiera opłatę sądową za dokonanie wpisów w księdze wieczystej. Opłata sądowa uregulowana jest w ustawie z dnia 28 lipca 2005 r. o kosztach sądowych w sprawach cywilnych. Przykładowo: 1) od wniosku o wpis w księdze wieczystej prawa własności, spółdzielczego prawa do lokalu mieszkalnego, hipoteki, służebności Notariusz pobiera opłatę w wysokości 200 zł; 2) od wniosku o założenie księgi wieczystej, odłączenie nieruchomości, sprostowanie działu I-O Notariusz pobiera opłatę 100 zł; 3. za wykreślenie wpisu pobiera połowę stawki jaka należałaby się przy dokonywaniu wpisu.</p>'
                },
            ])
